<!DOCTYPE html>
<html>

<head>
	
	<title>
		Bridget Jones Tic Tac Toe
	</title>

	<link rel="stylesheet" type="text/javascript" href="main.css" />
	<link href='http://fonts.googleapis.com/css?family=Yeseva+One' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>

	<script type="text/javascript" src="main.js"></script>

</head>

<body>
	<header><h1><u>Bridget Jones Tic Tac Toe</u></h1></header>

	<div id="players">

		<div id="X">
			Mark Darcy  <img src="Mark_Darcy.jpg" title="Mark Darcy" alt="Mark Darcy" style="height:48px; width:48px"/>
		</div>

		<div id="O">
			Daniel Cleaver  <img src="Daniel_Cleaver.jpg" title="Daniel Cleaver" alt="Daniel Cleaver" style="height:48px; width:48px"/>
		</div>

	</div>

	<br />
	<br />
	<div class="main" x-ng-app="TicTac" x-ng-controller="TicTacCtrl">
		
		<div class="board" x-ng-repeat="x in obj.board track by $index"
		  x-ng-class="{clear:$index % 3 == 0, cell:true, x: x == 'X', o: x == 'O'}"
		  x-ng-click="makeMove($index);"
		  >{{x}}
		</div>
		<br />
		<input type="button" class="button" value="New Game" x-ng-click="reset()" />


		
			<div class="popup" x-ng-show="darcyWinMessage.val">
				{{darcyWinMessage.message}}
			</div>

			<div class="popup" x-ng-show="cleaverWinMessage.val">
				{{cleaverWinMessage.message}}
			</div>

			<div class="popup" x-ng-show="catsGame.val">
				{{catsGame.message}}
			</div>
		
		
	</div>


</body>

</html>

